<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lotteryimplicitintentreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- See for Intent Filter: https://developer.android.com/training/basics/intents/filters -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Also include the DEFAULT category. This allows your app to respond to implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />
                <!--
                BROWSABLE: It is required in order for the intent filter to be accessible from a web browser.
                Without it, clicking a link in a browser cannot resolve to your app.
                -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>